.content {
  margin: 10% 10%
}
.message{
  border-style: solid;
  border-color: antiquewhite;
}

.message-header{
  padding: 2% 2%;
  background-color: antiquewhite;
}
.message-body {
  padding: 2% 2%;
}

.is-info {
  margin-top: 10%;
  background-color: deepskyblue;
}

